  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: none;
}

body{
    background-color: #080707;
    height: 100vh;
}

.containerText{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.25rem;
    height: 100%;

    font-family: Montserrat;
    color: rgb(220, 227, 236);}

.containerText .containerConst{
    display: flex;
    gap: 0.5rem;
}

.containerText h1{
    display: flex;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

.containerText p{
    font-weight: 400;
}

.containerText a{
    text-decoration: none;
    font-style: italic;
    color: rgb(148 163 184);
    transition: 0.2s ease-in-out;
}

.containerText a:hover{
    color:rgb(255, 255, 255) ;
}

.containerText .imgApj{
    width: 20rem;
}

.containerText .imgCode{
    width: 16rem;
}


@media only screen and (max-width:768px){
    .containerText h1{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:585px){
    .containerText h1{
        font-size: 1.4rem;
    }
    .containerText .containerConst{
        align-items: center;
        flex-direction: column;
        gap: 0rem;

    }
}

@media only screen and (max-width:425px){
    .containerText h1{
        font-size: 1rem;
    }
    .containerText .containerConst{
        align-items: center;
        flex-direction: column;
        gap: 0rem;

    }
}